
// central column layout (including hidding money book menu)

#main

  .content
    margin: 3rem
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16)


.app-header
  margin: 0
  height: 7rem

