{% extends "website/base.html" %}
{% load static %}

{% block pageid %}landing-page{% endblock pageid %}

{% block content %}
<header class="fluid-container navbar navbar-default">
    <h1>KillBills</h1>
    <p>La compta pas (trop) chiante</p>
</header>

<section class="container">


  <section id="carousel"></section>


  <section id="trial-menu">
    <p class="trial-call-to-action">
      <img src="{% static 'letsgo.svg' %}" alt="Essayer">
    </p>

    <p class="trial-buttons">
      <a class="btn btn-lg btn-success" href="/operations">Sans indentifiant</a>
      <a class="btn btn-lg btn-info" href="/login">Avec identifiant</a>
    </p>
  </section>

</section>

<footer class="fluid-container">
  <p>
    <img src="{% static 'Octicons-mark-github.svg' %}" alt="Github logo">
    <a href="https://github.com/sametmax/killbills/"
       rel="noopener noreferrer" target="_blank">
      Produit d'open source local, durable et sans gluten
    </a>
  </p>
</footer>
{% endblock content %}



