{% extends "website/base.html" %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'landing_page.css' %}">
{% endblock extracss %}

{% block extrajs %}
<script src="{% static 'landing_page.bundle.js' %}" charset="utf-8"  ></script>
{% endblock extrajs %}

{% block pageid %}landing-page{% endblock pageid %}

{% block content %}
<header class="fluid-container navbar navbar-default">
    <h1>KillBills</h1>
    <p>Book keeping that is (almost) not a pain</p>
</header>

<section class="container">


  <section id="carousel"></section>


  <section id="trial-menu">
    <p class="trial-call-to-action">
      <img src="{% static 'letsgo.en.svg' %}" alt="Essayer">
    </p>

    <p class="trial-buttons">
      <a class="btn btn-lg btn-success" href="/moneybooks/">Without login</a>
      <a class="btn btn-lg btn-info" href="/login">With login</a>
    </p>
  </section>

</section>

<footer class="fluid-container">
  <p>
    <img src="{% static 'Octicons-mark-github.svg' %}" alt="Github logo">
    <a href="https://github.com/sametmax/killbills/"
       rel="noopener noreferrer" target="_blank">
      Sustainable, gluten free and locally sourced open source project.
    </a>
  </p>
</footer>
{% endblock content %}



