{% extends "website/base.html" %}
{% load static %}

{% block pageid %}login{% endblock pageid %}

{% block content %}
<header class="fluid-container navbar navbar-default">
    <div class="backbutton">
      <a href="/home/" title="Back to homepage">
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="hidden-xs">Home</span>
      </a>
    </div>
    <div>
      <h1>KillBills</h1>
      <p>Sign in</p>
    </div>
</div>
</header>

<section class="container">

  <form action="." method="post"
      accept-charset="utf-8">

    <p class="trust-icon">
      <span class="glyphicon glyphicon-lock"></span>
    </p>

    <p>
      <input type="text" name="email"
             class="form-control"
             placeholder="E-mail"
             inputmode="email">
    </p>
    <p>
      <input type="password" name="password"
             class="form-control"
             placeholder="Password">
    </p>

    <p><button type="button">Log in</button></p>
    <p><a href="#">Forgot your password?</a></p>

  </form>


  <div class="divider">
    <hr>
    <div class="divider-label">
      <span>OR</span>
    </div>
  </div>

  <p class="create-account">
      <a class="btn btn-lg btn-success">
      Register
      </a>
  </p>


</section>
{% endblock content %}



