
// stick the footer at the bottom of the viewport if we have a lot of
// spaces
@media only screen and (min-height: 1000px)
  #landing-page
    footer
      position: absolute
      bottom: 0

#landing-page

  footer

    width: 100%
    height: 5rem
    background-color: #f5f5f5
    display: flex
    justify-content: center
    align-items: center

    img
      width: 20px
      height: 20px
      padding: 0
      margin: 2px

    p
      vertical-align: middle

    a
      color: grey
      font-size: 1rem



#carousel .carousel
  padding-top: 0

#trial-menu

  .trial-call-to-action img
    max-height: 30vh
    margin-top: 3vh


  .trial-buttons, .trial-call-to-action
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center


  .trial-buttons a
    margin: 20px
    font-size: 1.5rem
