.col-xs-12
	display: flex
	flex-direction: column
	align-items: center

	p, input, select
		width: 300px

	button 
		width: 20ex

	input[name="initial-amount"]
		font-style: italic

.negative 
	color: red

.positive 
	color: green





	