html
  position: relative

html, body
  height: 100vh
  overflow: visible

body > header
  text-align: center

  h1
    font-size: 3rem

  .backbutton
    float: left

.glyphicon-refresh-animate
    -animation: spin .7s infinite linear
    -webkit-animation: spin2 .7s infinite linear

@-webkit-keyframes spin2
    from
      -webkit-transform: rotate(0deg)
    to
      -webkit-transform: rotate(360deg)


@keyframes spin
    from
      transform: scale(1) rotate(0deg)
    to
      transform: scale(1) rotate(360deg)


$tablet-width: 1024px
$mobile-toolbar-height: 4rem
$secondary-color: #337AB7
$calculator-border-color: 1px solid #777
