


#app-header

  // work around boostrap navbar min size
  &.navbar
    min-height: inherit

  display: flex
  flex-direction: row
  height: 5rem

  @media (max-width: 1024px)
    height: 4rem
    .date
      width: 8rem
      color: #2656EE

  div
    width: 5rem

    button
      background: transparent
      border: none
      width: 100%
      height: 100%

      &:hover
        background: white

  h1
    height: 100%
    padding-right: 2.5rem  // let the h1 center align on the whole row
    margin: 0
    flex: 2
    text-align: center
    font-size: 1.5rem
    display: flex
    align-items: center
    justify-content: center


  &.large
    height: 5rem

    h1
      font-size: 2rem

