
#app-viewport

  // center all the boxes inside the main app viewport
  display: flex
  flex-direction: column
  align-items: center

#app-header
  margin: 0
  width: 100% // restaure full width despite the flex



